<div class="header">
    <img src="#" alt="yummy burger pic">
    <h1>Eat-Da-Burger!</h1>
</div>

<div class="burger-form">
    <form>
        <textarea name="burger-input" placeholder="Burger of choice"></textarea>
        <button type="submit" id="submit-button">Submit</button>
    </form>
</div>

<p>Enter a burger you would like to eat, click submit, then enjoy!</p>